{% extends "/layout/base.html" %}

{% block title %}Create Student{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
        .error { color: red;}
    </style>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="text-center">
            <h1>Register Course</h1>
        </div>
        {{ h.form(h.url(controller='students', action='register'),method='POST') }}
                Course: {{ h.select('course_id', None, h.create_courses_options(c.courses),
                prompt="Choose course", class="form-control") }}
            <br>
            <div class="text-center">
                {{ h.submit('submit', 'Submit',class="btn btn-primary") }}
            </div>
        {{ h.end_form() }}
    </div>
</div>
{% endblock %}