{% extends "/layout/base.html" %}
{% block title %}Student - Show {% endblock %}

{% block content %}
<div class="container">
<div class="row">
    <div class="col-md-3">
        <div class="text-center">
            <div>
                <form method='post'
                      style="background:url({{h.image_name(c.student)}}); background-size: 200px 200px; background-repeat: no-repeat;"
                      id ='upload-file' enctype="multipart/form-data">
                    <input type="file" name="avatar" id="my_file" />
                    <div id="div_action" style="display: none" class="modal">
                        <div class="modal-content">
                            <div id="img_src"></div>
                            <hr>
                            <div id='action_button'>
                                <input type="hidden" name = 'student' id = 'student_id' value="{{request.urlvars['id']}}" />
                                <input type='submit' id='upload-file-btn' value='OK' class="btn btn-primary" style="width: 10%"/>
                                <input type='submit' id='cancle-upload-btn' value='CANCLE' class="btn btn-danger" style="width: 10%"/>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <h1>Name: {{c.student.name}}</h1>
        </div>
        <hr>

        <div class="list-group">
            <div class="list-group-item">
                <span class="glyphicon glyphicon-user"></span>
                Email: {{c.student.email}}
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="text-center">
            <h3>Course Registered</h3>
        </div>
        <table class="table table-striped custab">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Code</th>
                    <th>Number</th>
                    <th>Action</th>
                </tr>
            </thead>
                {% if c.student.courses|length == 0 %}
                    <tr>
                        <td colspan="4">Chua dang ki lop nao</td>
                    </tr>
                {% else %}
                    {% for course in c.student.courses %}
                    <tr>
                        <td>{{course.name}}</td>
                        <td>{{course.code}}</td>
                        <td>{{course.number}}</td>
                        <td>
                            <a href="{{h.url(controller='courses', action='show', id=course.id)}}" class="btn btn-info btn-xs">
                                <span class="glyphicon glyphicon-eye-open"></span> Show
                            </a>
                            <a href="{{h.url(controller='register', action='delete', course_id=course.id, student_id = c.student.id)}}" class="btn btn-danger btn-xs">
                                <span class="glyphicon glyphicon-remove"></span> Del
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                {% endif %}
        </table>
        <div class="text-center">
        </div>
    </div>
</div>
</div>

{% endblock %}