{% extends "/layout/base.html" %}
{% block title %}Course - Show {% endblock %}

{% block content %}
<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <div class="text-center">
            <h1>Code: {{c.course.code}}</h1>
        </div>
        <hr>

        <div class="list-group">
            <div class="list-group-item">
                <span class="glyphicon glyphicon-user"></span>
                Name: {{c.course.name}}
            </div>
        </div>
        <div class="list-group">
            <div class="list-group-item">
                <span class="glyphicon glyphicon-user"></span>
                Number: {{c.course.number}}
            </div>
        </div>
    </div>
    <div class="col-md-8 col-md-offset-2">
        <div class="text-center">
            <h3>Students Registered</h3>
        </div>
        <table class="table table-striped custab">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>
                {% if c.course.students|length == 0 %}
                    <tr>
                        <td colspan="5">Chua co SV dang ki</td>
                    </tr>
                {% else %}
                    {%for student in c.course.students%}
                        <tr>
                            <td>{{student.name}}</td>
                            <td>{{student.email}}</td>
                            <td>
                                <a href="{{h.url(controller='students', action='show', id=student.id)}}" class='btn btn-info btn-xs text-center' >
                                    <span class="glyphicon glyphicon-eye-open"></span> Show
                                </a>
                            </td>
                        </tr>
                    {%endfor%}
                {% endif %}
        </table>
        <div class="text-center">
        </div>
    </div>
</div>
{% endblock %}